<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<FRACTION_PASTRY> 
		<add key="Key0" value="0" />
		<add key="Key1" value="1" />
		<add key="Key2" value="2" />
	</FRACTION_PASTRY>

	<FRACTION_ICE>
		<add key="Key0" value="0" />
		<add key="Key1" value="1" />
		<add key="Key2" value="2" />
	</FRACTION_ICE>

	<FRACTION_CHOCOLATE>
		<add key="Key0" value="0" />
		<add key="Key1" value="1" />
		<add key="Key2" value="2" />
	</FRACTION_CHOCOLATE>

	<FRACTION_SUGAR>
		<MAIN_BUILD_SUGAR>
			<add key="HP" value="100" />
			<add key="AR" value="1150" />
			<add key="EN" value="0" />
			<add key="SP" value="0" />
			<add key="VR" value="4" />
			<add key="AT" value="0" />
		</MAIN_BUILD_SUGAR>

		<AIRFIELD_SUGAR>
			<add key="HP" value="600" />
			<add key="AR" value="0" />
			<add key="EN" value="0" />
			<add key="SP" value="0" />
			<add key="VR" value="3" />
			<add key="AT" value="0" />
		</AIRFIELD_SUGAR>
		
		
	</FRACTION_SUGAR>
</configuration>